/* header */

.navbar {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 199;
    display: flex;
    justify-content: center;
}

.navbar > div {
    width: 90%;
    max-width: 1500px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    z-index: 200;
}

.navbar li a {
    display: block;
    padding: 10px 10px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar li a:hover,
.navbar .menuBtn:hover {
    background-color: #ffffff;
    color: rgb(58, 147, 108);
    transition: 500ms;
    
  
}

.navbar .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}
.navbar .logo img{
    height: 50px;
    width: 120px;
}

.navbar a {
    color: black;
}

/* menu */

.navbar .menu {
    clear: both;
    height: 0;
    transition: height 0.3s ease-out;
}

/* menu icon */

.navbar .menuIcon {
    cursor: pointer;
    float: right;
    padding: 10px 10px;
    position: relative;
    user-select: none;
    margin: 6% 3% 0 0;
}

.navbar .menuIcon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.navbar .menuIcon .navicon:before,
.navbar .menuIcon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.navbar .menuIcon .navicon:before {
    top: 5px;
}

.navbar .menuIcon .navicon:after {
    top: -5px;
}

/* menu btn */

.navbar .menuBtn {
    display: none;
}

.navbar .menuBtn:checked ~ .menu {
    height: unset;
}

.navbar .menuBtn:checked ~ .menuIcon .navicon {
    background: transparent;
}

.navbar .menuBtn:checked ~ .menuIcon .navicon:before {
    transform: rotate(-45deg);
}

.navbar .menuBtn:checked ~ .menuIcon .navicon:after {
    transform: rotate(45deg);
}

.navbar .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:before,
.navbar .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:after {
    top: 0;
}


.startf{
    color: rgb(58, 147, 108) !important;
    border: 2px solid rgb(58, 147, 108) !important;
    border-radius: 15px !important;
    padding: 6px 10px 8px 10px;
}
.startf:hover{
    color: rgb(255, 255, 255) !important;
    border: 2px solid rgb(58, 147, 108) !important;
    border-radius: 15px !important;
    padding: 6px 10px 8px 10px;
    background-color: rgb(58, 147, 108);
    transition: 500ms;
}

/* 48em = 768px */

@media (min-width: 1100px) {
    .navbar li {
        float: left;
    }
    .navbar li a {
        padding: 20px 30px;
    }
    .navbar .menu {
        clear: none;
        float: right;
        max-height: none;
        margin: 6% 3% 0 0;
    }
    .navbar .menuIcon {
        display: none;
    }
}

/* DropDownMenu Styling */

.navbar ul ul {
    display: none;
    margin: 1px;
}

.navbar ul li:hover > ul {
    display: block;
}

.navbar ul ul li {
    width: 100%;
    float: none;
    display: list-item;
}

/* Change this in order to change the Dropdown symbol */
.navbar li > a:after {
    content: " +";
}
.navbar li > a:only-child:after {
    content: "";
}

.navbar .menu {
    overflow: hidden;
}

@media (min-width: 1100px) {
    .navbar .menu {
        overflow: visible;
    }

    .navbar ul ul {
        position: absolute;
        top: 56px; /* the height of the main navbar */
    }
    .navbar ul ul li {
        width: 170px;
        position: relative;
    }
    .navbar ul ul ul {
        top: 0px;
        left: 170px;
    }

    .navbar ul ul ul li {
        left: 0px;
    }
    .navbar ul li:hover > ul {
        display: inherit;
    }
}
